<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'members/ideas/idea',idea: @ideas, member: current_member %>
      <h2 class="mt-3">！</h2>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>会員一覧</h2>
      <%= render 'members/member/index',members: @members %>
    </div>
  </div>
</div>