<!--上から投稿者の画像、名前、自己紹介、設定、カテゴリー（プルダウン）で表示させたい-->
<div><p><%= image_tag member.get_profile_image(100,100) %></p></div>
  <table class="table">
    <tbody>
      <tr></tr>
  	  <tr>
  	    <th><h6>名前</h6></th>
  	    <th><%= member.name %></th>
  	  </tr>
    	<tr>
        <th><h6>会員情報</h6></th>
        <th><%= member.introduction %></th>
      </tr>
    </tbody>
  </table>
<div class="row">
  <%= link_to edit_members_member_path(member.id), class:"btn btn-outline-secondary btn-block" do %>
    <span class=" fas fa-user-cog">設定</span>
  <% end %>
</div>

