<div class="row">
  <div class="col-md-3">
    <!--ここに左半分に投稿する場所、いいね一覧、本人の設定画面-->
  </div>
   <div class="col-md-8 offset-md-1">
     <h2>投稿一覧</h2>
     <table class="table table-hover table-inverse">
       <thead>
         <tr>
           <th></th>
           <th>title</th>
           <th></th>
           <th></th>
           <th colspan="4"></th>
         </tr>
       </thead>
       <tbody>
         <% @ideas.each do |idea| %>
           <tr>
             <td>
               <% link_to members_member_path(idea.member_id) %>
                 <%= image_tag book.user.get_profile_image(50,50) %>
               <% end %>
             </td>
             <td>
               <%= link_to members_idea_path(member.id) do %>
                <%= member.title %>
               <% end %>
             </td>
           </tr>
       </tbody>
     </table>
   </div>
</div>