<div class="controllers mt-5">
  <h2>検索結果</h2>
  <table class="table table-hover table-inverse">
    <tbody>
      <tr>
      <th>会員画像</th>
      <th>会員名前</th>
      <th>投稿タイトル</th>
      </tr>
    </tbody>
  </table>
</div>